<h1>初めてのマッチング</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>ようこそ！<%= @user.nickname %>さん。</p>
    <% if !@target_user %>
      <p>マッチングに失敗しました</p>
    <% else %>
      <p><%= @target_user.nickname %>さんと話してみましょう！</p>
      <p><%= link_to "話してみる", '#', class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>