<%= @user.name %>

<span>
  like count <%= @likes_count %>
  <% if @user.like_user(current_user.id) %>
    <%= button_to user_like_path(@likes, target_id: @user.id), method: :delete do %>
      <span>ありがとうを取り消す</span>
    <% end %>
  <% else %>
    <%= button_to user_likes_path(@user) do %>
      <span>ありがとう</span>
    <% end %>
  <% end %>

</span>